langgraph
langchain
openai
ollama
langchain-community
langchain-core
langchain-openai
langchain-ollama
firecrawl-py
beautifulsoup4
tavily-python
pandas
pypdf
python-dotenv
mysql-connector-python
duckduckgo-search
yahoo-finance